# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf

# GD files
*.gd       text eol=lf
*.import   text eol=lf
*.godot    text eol=lf
*.tscn     text eol=lf
*.tres     text eol=lf
*.cfg      text eol=lf
*.gdshader text eol=lf

# Documentation
*.md       text diff=markdown
*.txt      text

# Assets
*.png      binary

# Ignore addons for GitHub language statistics
src/addons/** linguist-vendored
